################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectMe/config
/.vs/ProjectMe
/obj
/.vs
